/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";


*
{
	font-family: Dotum;
	color:#eeeeee;
}

s|Button {
	skinClass: ClassReference('skin.ButtonSkin');
}

s|Panel
{
	skinClass: ClassReference('skin.Panel');
	corner-radius : 10;
	background-color : #000000;
}

s|TitleWindow
{
	skinClass: ClassReference('skin.TitleWindow');
	corner-radius : 10;
	background-color : #000000;
}

s|TextInput
{
	skinClass: ClassReference('skin.TextInputSkin');
}
s|TextArea
{
	skinClass: ClassReference('skin.TextAreaSkin');
	
}

mx|TabNavigator
{
	tab-height: 22;
	font-size: 11;
	background-color: #333333;
	horizontal-gap: 1;
	tab-offset: 4;
	corner-radius : 2;
	tab-style-name : myTabNavigatorText;
	chrome-color : #999999, #333333;
	tabStyleName: "myTabs";
	firstTabStyleName: "myTabs";
	lastTabStyleName: "myTabs";
	selectedTabTextStyleName: "mySelectedTabs";
	
}
.myTabs {
	textRollOverColor: #336699;	
	font-weight: bold;
}
.mySelectedTabs {
}
.myTabNavigatorText
{
	font-weight: bold;	
	font-size: 13;
}

mx|DataGrid
{
	borderSkin: Embed(source="assets/flex_skins.swf", symbol="DataGrid_borderSkin");
	headerBackgroundSkin: Embed(source="assets/flex_skins.swf", symbol="DataGrid_headerBackgroundSkin");
	columnDropIndicatorSkin: Embed(source="assets/flex_skins.swf", symbol="DataGrid_columnDropIndicatorSkin");
	columnResizeSkin: Embed(source="assets/flex_skins.swf", symbol="DataGrid_columnResizeSkin");
	headerSeparatorSkin: Embed(source="assets/flex_skins.swf", symbol="DataGrid_headerSeparatorSkin");
	sortArrowSkin: Embed(source="assets/flex_skins.swf", symbol="DataGrid_sortArrowSkin");
	stretchCursor: Embed(source="assets/flex_skins.swf",symbol="DataGrid_stretchCursor");
	alternatingItemColors: #464646, #4f4f4f;
	verticalGridLineColor: #464646;
	roll-over-color: #666666;
	selection-color: #333333;
	font-size: 12;
}

/*
//------------------------------
//  Halo Tree
//------------------------------
*/
mx|Tree
{
	defaultLeafIcon: Embed(source="assets/flex_skins.swf",symbol="Tree_defaultLeafIcon");
	disclosureClosedIcon: Embed(source="assets/flex_skins.swf",symbol="Tree_disclosureClosedIcon");
	disclosureOpenIcon: Embed(source="assets/flex_skins.swf",symbol="Tree_disclosureOpenIcon");
	folderClosedIcon: Embed(source="assets/flex_skins.swf",symbol="Tree_folderClosedIcon");
	folderOpenIcon: Embed(source="assets/flex_skins.swf",symbol="Tree_folderOpenIcon");
	roll-over-color: #666666;
	selection-color: #464646;
	border-color: #6a6a6a;
	font-size: 12;
}

/*
//------------------------------
//  Halo DateChooser
//------------------------------
*/
mx|DateChooser
{
	nextMonthDisabledSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextMonthDisabledSkin");
	nextMonthDownSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextMonthDownSkin");
	nextMonthOverSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextMonthOverSkin");
	nextMonthUpSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextMonthUpSkin");
	prevMonthDisabledSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevMonthDisabledSkin");
	prevMonthDownSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevMonthDownSkin");
	prevMonthOverSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevMonthOverSkin");
	prevMonthUpSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevMonthUpSkin");
	nextYearDisabledSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextYearDisabledSkin");
	nextYearDownSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextYearDownSkin");
	nextYearOverSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextYearOverSkin");
	nextYearUpSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_nextYearUpSkin");
	prevYearDisabledSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevYearDisabledSkin");
	prevYearDownSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevYearDownSkin");
	prevYearOverSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevYearOverSkin");
	prevYearUpSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_prevYearUpSkin");
	todayIndicatorSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_todayIndicatorSkin");	
	rollOverIndicatorSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_rollOverIndicatorSkin");
	selectionIndicatorSkin: Embed(source="assets/flex_skins.swf", symbol="DateChooser_selectionIndicatorSkin");
	content-background-color: #222222;
	header-colors: #656565, #434343;
	color: #cccccc;
	header-style-name: "myDateChooserHeaderStyle";
	today-color: #e8e8e8;
	selection-color: #cccccc;
	border-color: #515151;
	week-day-style-name: "myWeekDayStyle";
	font-size: 12pt;
	border-thickness-top: 0;
}

.myDateChooserHeaderStyle
{
	color: #cccccc;	
	font-weight: bold;
	font-size: 12pt;
}

.myWeekDayStyle
{
	font-weight: bold;
	font-size: 12pt;
}

mx|Accordion
{
	borderSkin: ClassReference("skin.BorderSkin");
}

/*
//------------------------------
//  Halo Accordion
//------------------------------
*/
mx|Accordion 
{
	background-color: #464646;
	borderColor: #6a6a6a;
	border-style:solid;
	
}

/*
//------------------------------
//  Halo AccordionHeader
//------------------------------
*/
mx|AccordionHeader
{
	
	disabledSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_disabledSkin");
	downSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_downSkin");
	overSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_overSkin");
	selectedDisabledSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_selectedDisabledSkin");
	selectedDownSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_selectedDownSkin");
	selectedOverSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_selectedOverSkin");
	selectedUpSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_selectedUpSkin");
	upSkin: Embed(source="assets/flex_skins.swf", symbol="AccordionHeader_upSkin");
	padding-left: 						20;
	font-size: 11;
	font-weight: normal;
	color: #BBBBBB;
	text-selected-color: #cccccc;
	focusColor:						#cccccc;
}
