/*#sideBanner {position: absolute;top: 0;left:0;width:106px;height:106px;background:url("../images/scroll.gif") no-repeat;}*/
/*전체 Box*/
div.context {width:950px; height:auto; margin:0px auto;}
.ti {text-indent:-9999px;}
#topSub {float:right;}
#topSub a{font-size:11px;}
#logo {clear:both;width:950px; height:65px;background:url("../images/main_03.png") no-repeat;}
#menu { width:950px;height:44px;}
#menu a {display:block;float:left;overflow:hidden;display:inline;}
#menu .sms {width:201px; height:44px;background:url("../images/m01.jpg") 0 0 no-repeat; }
#menu .lmsmms {width:196px; height:44px;background:url("../images/m02.jpg") 0 0 no-repeat; }
#menu .billing {width:174px; height:44px;background:url("../images/m03.jpg") 0 0 no-repeat; }
#menu .sent {width:118px; height:44px;background:url("../images/m04.jpg") 0 0 no-repeat; }
#menu .excel {width:131px; height:44px;background:url("../images/m05.jpg") 0 0 no-repeat; }
#menu .address {width:130px; height:44px;background:url("../images/m06.jpg") 0 0 no-repeat; }
#menu a:hover {background-position: 0 -44px;}

/*메인*/
#main {}
#main button{display:block;}
#main .introduce {width:950px;height:154px; overflow:hidden;}
#main .introduce li {display:block;float:left;height:154px;}
#main .introduce .intro1 {width:237px;background:url("../images/main_17.png") no-repeat;}
#main .introduce .intro2 {width:238px;background:url("../images/main_18.png") no-repeat;}
#main .introduce .intro3 {width:239px;background:url("../images/main_19.png") no-repeat;}
#main .introduce .intro4 {width:236px;background:url("../images/main_20.png") no-repeat;}

#login {float:left;width:172px;height:132px;padding:19px 14px;border:5px solid #ccc;margin-top:10px;}
#login input{ display:block;float:left;width:120px;margin-bottom:10px;}
#login .idlabel {float:left;display:block;margin-bottom:10px;border:none;width:44px;height:18px;background:url("../images/main_24.png") no-repeat;}
#login .pwlabel {float:left;display:block;margin-bottom:10px;border:none;width:44px;height:18px;background:url("../images/main_27.png") no-repeat;}
#login .loginBtn {clear:left;display:block;border:none; width:172px;height:33px;margin-top:5px;margin-bottom:10px;background:url("../images/main_29.png") no-repeat;}
#login .joinBtn {border:none;float:left; width:83px;height:24px;background:url("../images/main_32.png") no-repeat;}
#login .findBtn {border:none;float:right; width:83px;height:24px;background:url("../images/main_34.png") no-repeat;}

#main #mobile {float:right;width:248px;height:445px;padding-left:28px;padding-top:90px; background:url("../images/main_0.png") no-repeat;}
#main #mobile .messageBox{width:223px;height:180px;display:block;}
#main #mobile .messageBox textarea {display:block;width:210px;height:112px;padding:5px;background: transparent;border:0px}
#main #mobile .messageBox .emoti {float:left;margin-left:5px !important;margin-left:2px;margin-right:5px;display:block;border:none;width:51px;height:20px;background:url("../images/main_40.png") no-repeat;}
#main #mobile .messageBox .char {float:left;display:block;border:none;width:51px;height:20px;background:url("../images/main_42.png") no-repeat;}
#main #mobile .messageBox .byte {float:right;margin-right:5px;display:block;width:100px;height:20px;text-indent:0px;text-align:right;}

#main #mobile .messageBox a{margin-top:15px;margin-right:4px;height:16px;float:left;display:block;font-size:10px;text-indent:-9999px}
#main #mobile .messageBox a:hover{background-position:0 -16px;}
#main #mobile .messageBox .image {width:45px;background:url("../images/btn3.gif") 0 0 no-repeat;}
#main #mobile .messageBox .review {width:45px;background:url("../images/btn2.gif") 0 0 no-repeat;}
#main #mobile .messageBox .reset {width:45px;background:url("../images/btn5.gif") 0 0 no-repeat;}

#main #mobile .messageBox .save {margin-top:12px;float:right;display:block;border:none;width:62px;height:20px;background:url("../images/main_47.png") no-repeat;}

#main #mobile .phoneBox {display:block;width:220px;margin-top:5px;}
#main #mobile .phoneBox .phonelabel {margin-bottom:5px;display:block;float:left;width:50px;height:18px;color:white;text-indent:0px;}
#main #mobile .phoneBox .address {float:left;display:block;border:none;width:56px;height:18px;background:url("../images/main_50.png") no-repeat;}
#main #mobile .phoneBox .sent {float:left;display:block;border:none;width:62px;height:18px;background:url("../images/main_51.png") no-repeat;}
#main #mobile .phoneBox .listBox {clear:both;display:block;width:220px;height:135px;overflow-y: scroll;}
#main #mobile .phoneBox .listBox li{display:block;border:1px solid #333;width:200px;height:18px;background-color:#aaa;margin-bottom:3px;overflow:hidden;}
#main #mobile .phoneBox .listBox li input{float:left;display:block;border:0px;height:18px;width:170px;padding-left:4px;color:white;background-color:#aaa;}
#main #mobile .phoneBox .listBox li button{display:block;float:left;border:0px;width:20px;height:18px;background-color:#aaa;color:white;text-indent:0px}
#main #mobile .phoneBox a{margin-top:2px;height:16px;float:right;display:block;font-size:10px;text-indent:-9999px;}
#main #mobile .phoneBox a:hover{background-position:0 -16px;}
#main #mobile .phoneBox .dup{width:67px;background:url("../images/btn4.gif") no-repeat;}
#main #mobile .phoneBox .many{margin-left:4px;width:76px;background:url("../images/btn1.gif") no-repeat;}

#main #mobile .sendBox {display:block;width:220px;height:50px;margin-top:10px;}
#main #mobile .sendBox label{display:block;float:left;color:white;text-indent:0px;margin-right:20px;width:60px;}
#main #mobile .sendBox input{display:block;float:left;text-indent:0px;}
#main #mobile .sendBox .send{float:left;margin-left:20px !important;margin-left:10px;margin-right:10px;display:block;border:none;width:84px;height:29px;background:url("../images/main_60.png") no-repeat;}
#main #mobile .sendBox .cancel{float:left;display:block;border:0px;width:84px;height:29px;text-indent:0px;margin-left:10px;}

#main .adBox {float:right;width:450px;}
#main .adBox .function {display:block;width:450px;height:446px;background:url("../images/main_22.png") no-repeat;border:none;font-size:0px;line-height:0;}
#main .adBox .smart {display:block;margin-top:5px; margin-left:43px;width:380px;height:80px;background:url("../images/main_57.png") no-repeat;text-indent:-9999px;}

#free {display:block;float:left;width:210px;height:85px;background:url("../images/free.jpg") no-repeat;margin-top:10px;}
#cost {display:block;float:left;width:210px;height:143px;background:url("../images/main_37.png") no-repeat;margin-top:10px;}
#custom {display:block;float:left;width:210px;height:164px;background:url("../images/main_54.png") no-repeat;margin-top:10px;margin-bottom:44px;}

#main #emoticon {display:block;clear:both;width:950px;border-bottom:2px solid #DAB4A8;overflow-x:hidden;border-top:none;}
#main #emoticon .title {width:950px;height:39px;background:url("../images/center_bg.gif") repeat-x;}
#main #emoticon .title li {display:block;float:left;width:152px;height:39px;cursor:pointer;text-indent:-9999px;}
#main #emoticon .title .business {background:url("../images/center_m02_.gif") no-repeat;}
#main #emoticon .title .thema {background:url("../images/center_m01.gif") no-repeat;}
#main #emoticon .title .popular {background:url("../images/center_m03.gif") no-repeat;}
#main #emoticon .title .poto {background:url("../images/center_m04.gif") no-repeat;}
#main #emoticon .title .more {float:right;background:url("../images/more.gif") 105px 15px no-repeat;cursor:pointer}

#main #emoticon .middle {width:946px;height:auto;border-left:2px solid #DAB4A8;border-right:2px solid #DAB4A8;overflow-y:auto;padding-bottom:5px;}
#main #emoticon .middle .subTitle {margin-left:12px;width:890px;height:38px;overflow:hidden;background-color:#EEE3DD;margin-top:10px;padding:0px 15px;}
#main #emoticon .middle .subTitle a {display:block;width:75px;overflow:auto;float:left;margin-top:10px;font-weight:bold;text-align:center;}
#main #emoticon .middle .subTitle a.pre {width:16px;height:19px;background:url("../images/icon_left.gif") no-repeat;overflow:hidden;text-indent:-9999px;margin-right:10px;}
#main #emoticon .middle .subTitle a.next {float:right;width:16px;height:19px;background:url("../images/icon_right.gif") no-repeat;overflow:hidden;text-indent:-9999px;}
#main #emoticon .emtibox {margin-left:12px;width:925px;overflow:hidden;margin-top:10px;overflow-y:auto;}
#main #emoticon .emtibox .emti {display:block;float:left;width:117px; height:115px;padding:0 30px; padding-top:25px;background:url("../images/pro_bg.gif") no-repeat;margin-right:8px;margin-bottom:10px;font-size: 10pt;font-family: '굴림체';color: black;}

#main .potomore {margin-top:10px;display:block;float:right;width:46px;height:16px;background:url("../images/more.gif") no-repeat;text-indent:-9999px;}
#main #poto {width:950px; height:230px;padding-top:20px; background:url("../images/hit_title.gif") no-repeat;overflow-y:auto;}
#main #poto .potoBox{width:928px;height:210px;padding-left:18px;border-left:2px solid #DCCBAC;border-right:2px solid #DCCBAC;border-bottom:2px solid #DCCBAC;overflow-y:auto;}
#main #poto .potoBox img {float:left;display:block;width:110px;height:166px;margin-right:22px;margin-top:22px;margin-bottom:22px;}

#main #noti {margin-top:14px;margin-right:18px;margin-bottom:24px;float:left;width:340px;height:150px;overflow:hidden;background:url("../images/notice_title.gif") no-repeat;}
#main #noti .more{display:block;float:right;text-indent:-9999px;height:27px;width:55px;margin-bottom:10px;}
#main #noti .content{width:340px;height:22px;overflow:hidden;}
#main #noti .content .title{float:left;display:block;width:275px;height:22px;background:url("../images/notice_icon.gif") 0px 5px no-repeat;text-indent:15px;}
#main .bank {margin-top:14px;margin-right:10px;float:left;display:block;width:239px;height:154px; background:url("../images/bank.gif") no-repeat;text-indent:-9999px;}
#main .product {margin-top:14px;margin-right:10px;float:left;display:block;width:162px;height:154px; background:url("../images/proinfo.gif") no-repeat;text-indent:-9999px;}

#main #etc{float:left;margin-top:14px;width:170px;height:auto; overflow-y:auto;}
#main #etc a{display:block;text-indent:-9999px;width:170px}
#main #etc .tax {height:40px;background:url("../images/right01.gif") no-repeat;}
#main #etc .card {height:39px;background:url("../images/right02.gif") no-repeat;}
#main #etc .faq {height:39px;background:url("../images/right03.gif") no-repeat;}
#main #etc .mantoman {height:36px;background:url("../images/right04.gif") no-repeat;}

#copyright {clear:both;width:950px;height:auto;background:url("../images/bottom_bg.gif") repeat-x; text-indent:-9999px;}
#copyright .company {float:left;display:block;text-indent:-9999px;width:76px;height:37px;background:url("../images/bottom01.gif") no-repeat;}
#copyright .personal {float:left;display:block;text-indent:-9999px;width:115px;height:37px;background:url("../images/bottom02.gif") no-repeat;}
#copyright .use {float:left;display:block;text-indent:-9999px;width:72px;height:37px;background:url("../images/bottom03.gif") no-repeat;}
#copyright .spam {float:left;display:block;text-indent:-9999px;width:93px;height:37px;background:url("../images/bottom04.gif") no-repeat;}

#copyright .link{display:block;float:right;width:120px;}
#copyright .homeLink {float:left;display:block;text-indent:-9999px;width:58px;height:37px;background:url("../images/btn_home.gif") no-repeat;}
#copyright .topLink {float:left;display:block;text-indent:-9999px;width:59px;height:37px;background:url("../images/btn_top.gif") no-repeat;}

#copyright .copyRight{clear:both;width:950px;height:59px;background:url("../images/copyright.gif") no-repeat;}
#copyright .family {display:block;float:right;}

#joinBox {float:right;margin-top:10px; width:721px; height:auto;}
#joinBox .joinAd {width:721px;height:82px;background:url("../images/subimg.jpg") no-repeat;}
#joinBox .joinTitle {margin-top:10px;width:721px;height:58px;background:url("../images/title_member.gif") no-repeat;border-bottom:1px solid red}
#joinBox .join2Title {margin-top:10px;width:721px;height:58px;background:url("../images/title_member1.gif") no-repeat;border-bottom:1px solid red}
#joinBox .joinsub1 {width:721px;height:35px;background:url("../images/member_tit01.gif") no-repeat;}
#joinBox .joinsub1Content {width:721px; height:200px;overflow-y:scroll;border:1px solid #ccc}
#joinBox .joinsub2 {width:721px;height:35px;background:url("../images/member_tit02.gif") no-repeat;}
#joinBox .joinsub2Content {width:721px; height:200px;overflow-y:scroll;border:1px solid #ccc}
#joinBox .joincheck {width:700px;margin-top:10px; text-align:right;}
#joinBox .confirmBox {margin-top:20px;margin-bottom:20px;width:721px;height:37px;text-align:center;}

#joinBox .juminBox {width:721px;height:auto;text-align:center;margin-top:50px;}
#joinBox .juminBox input{border:2px solid #ccc; font:normal 16px/26px 'dotum'; height:26px; background-color:#eee;}
#joinBox .juminBox pre {display:block;margin-top:60px;width:600px;height:auto;text-align:left;}
#joinBox .inputTable {width:100%;}
#joinBox .inputTable .txt{width:240px;border:1px solid #ccc;height:20px;font:normal 12px/20px 'dotum'; }
#joinBox .inputTable .t {height:30px;width:140px;padding-left:20px;background-color:#eee;border-bottom:1px solid #ccc}
#joinBox .inputTable .c {height:30px;padding-left:20px;background-color:#fff;border-bottom:1px solid #ccc}
#joinBox .inputTable span {font:normal 11px/20px 'dotum';}

#normaTitle {float:right;margin-top:10px;width:712px;height:154px;background:url("../images/top_img01.jpg") no-repeat;}

#sentBox {float:right;width:712px;height:auto;}
#sentBox .sentTitle {margin-top:10px;width:712px;height:58px;background:url("../images/title_sendlist.gif") no-repeat;border-bottom:1px solid red}