/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";

*
{
	font-family: Dotum;
	color:#000000;
}

s|Button {
	skinClass: ClassReference('skin.ButtonSkin');
}

s|Panel
{
	skinClass: ClassReference('skin.Panel');
	corner-radius : 10;
	background-color : #000000;
}

s|TitleWindow
{
	skinClass: ClassReference('skin.TitleWindow');
	corner-radius : 10;
	background-color : #000000;
}

s|TextInput
{
	skinClass: ClassReference('skin.TextInputSkin');
}
s|TextArea
{
	skinClass: ClassReference('skin.TextAreaSkin');
	
}